@{
    var students = ViewBag.Students as List<Student>;
    var gradesList = ViewBag.Grades as List<StudentCourse>;
    var course = ViewBag.Course as Course;

    var grades = gradesList.ToDictionary(g => g.StudentId, g => g.Degree);
}

<form method="post">

    @foreach (var std in students)
    {
        var oldGrade = grades.ContainsKey(std.Id) ? grades[std.Id] : 0;

        <div class="mb-3">
            <label class="form-label fw-bold">@std.Name</label>

            <input type="number"
                   name="grades[@std.Id]"
                   value="@oldGrade"
                   class="form-control" />
        </div>
    }

    <button type="submit" class="btn btn-primary">Save</button>

</form>